<%= image_tag("header.png", :alt => "Header") %>
<div class="top_table">
	<table class="links">
		<tr>
			<td><%= link_to home_button, root_path %></td>
			<td><%= link_to about_button, about_path %></td>
			<td><%= link_to contact_button, contact_path %></td>
			<td><%= link_to links_button, links_path %></td>
			<td><%= link_to websites_button, websites_path %></td>
			<td><%= link_to thoughts_button, thoughts_path %></td>
		</tr>
	</table>
</div>